<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ pageTitle }}</title>
</head>
<body class="body">
    <div class="wrapper">
        <div class="row">
            {{> nav }}

            <div class="mainSectionContainer col-10 col-md-8 col-lg-6">
                <div class="titleContainer">
                    <h1>{{ pageTitle }}</h1>
                </div>
                {{#unless profileUser }}
                    <span class="errorMessage">Check the url you are trying to access</span>
                {{/unless}}

                <script>
                    var userLoggedIn = {{{ userLoggedInJs }}}
                    var profileUserId = {{{ userId }}}
                </script>

                {{setVar "followersCount" profileUser.followers.length }}
                {{setVar "followingCount" profileUser.following.length }}
                
                <div class="profileHeaderContainer">
                    <div class="coverPhotoSection">
                        <div class="coverPhotoContainer">
                            {{#if profileUser.coverImg }}
                                <img src={{ profileUser.coverImg }} alt="User's cover photo">
                            {{/if}} 

                            {{#when profileUser._id 'eq' userLoggedIn._id }}
                                <button class="coverPhotoButton" data-toggle="modal" data-target="coverPhotoUploadModal">
                                    <i class="fas fa-camera"></i>
                                </button>
                            {{/when}}
                        </div>

                        <div class="modal fade" id="coverPhotoUploadModal" tabindex="-1" role="dialog" aria-labelledby="coverPhotoUploadModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="coverPhotoUploadModalLabel">Upload a new cover photo</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input id="coverPhoto" type="file" name="coverPhoto">
                                        <div class="imagePreviewContainer">
                                            <img id="coverPreview">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="photoCloseButton" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button id="coverPhotoUploadButton" type="button" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="userImageContainer">
                            <img src={{ profileUser.profilePic }} alt="User profile image">

                            {{#when profileUser._id 'eq' userLoggedIn._id }}
                                <button class="profilePictureButton" data-toggle="modal" data-target="imageUploadModal">
                                    <i class="fas fa-camera"></i>
                                </button>
                            {{/when}}
                        </div>

                        <div class="modal fade" id="imageUploadModal" tabindex="-1" role="dialog" aria-labelledby="imageUploadModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="imageUploadModalLabel">Upload a profile picture</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input id="filePhoto" type="file" name="filePhoto">
                                        <div class="imagePreviewContainer">
                                            <img id="imagePreview">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="imgCloseButton" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button id="imageUploadButton" type="button" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="profileButtonsContainer" data-user={{ profileUser._id }}>
                        {{#when profileUser._id 'noteq' userLoggedIn._id }}
                            <a class="profileButton" href="/messages/{{ ../profileUser._id }}">
                                <i class="fas fa-envelope"></i>
                            </a>
                            
                            {{#ifFollowButton ../profileUser ../userLoggedIn }}
                                <button class="followButton following">Following</button>
                            {{else}}
                                <button class="followButton">Follow</button>
                            {{/ifFollowButton}}
                        {{/when}}
                    </div>
                    <div class="userDetailsContainer">
                        <span class="displayName">
                            {{ profileUser.firstName }} {{ profileUser.lastName }}
                        </span>
                        <span class="username">
                            @{{ profileUser.username }}
                        </span>
                        <span class="description">
                            {{ profileUser.description }}
                        </span>

                        <div class="followersContainer">
                            <a href="#">
                                <span class="value">{{ followingCount }}</span>
                                <span>Following</span>
                            <a href="#">
                                <span id="followersValue" class="value">{{ followersCount }}</span>
                                <span>Followers</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tabsContainer">
                    <span class="tab active">Posts</span>
                </div>

                <div class="postsContainer"></div>

                {{> createReplyModal }}

                {{> createDeletePostModal }}

            </div>

            <div class="col-md-2 col-lg-4">
            </div>
        </div>
    </div>

    {{> footer }}

    <script src="/js/profile.js"></script>

    <script src="/js/common.js"></script>
</body>
</html>